.autofitContainer {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 1em;
  line-height: 1em;
}

.autofitText {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  transform-origin: left;
  white-space: nowrap;
  transition: transform 0.1s ease-out;
}
